/* Contenedor principal de la tarjeta */
.id-card {
  width: 500px;
  border-radius: 15px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  height: 400px;
}

/* .id-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
} */

/* Encabezado de la tarjeta */
.id-card-header {
  background: linear-gradient(135deg, #002b5b, #00509e);
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.id-card-header h1 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.id-card-header .role {
  font-size: 14px;
  font-style: italic;
  opacity: 0.9;
}

.id-card-header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(90%);
}

/* Cuerpo de la tarjeta */
.id-card-body {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

/* Sección de la foto */
.photo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-section img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  border: 4px solid #00509e;
  background-color: #f0f0f0;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 30px;
}

/* Sección de la información */
.info-section {
  flex: 2;
  padding-left: 20px;
  color: #333;
}

.info-section p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.6;
}

.info-section p strong {
  color: #00509e;
}

.info-section a {
  color: #00509e;
  text-decoration: none;
  font-weight: bold;
}

.info-section a:hover {
  text-decoration: underline;
}

/* Pie de la tarjeta */
.id-card-footer {
  width: 500px;
  background: #f8f9fa;
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: #666;
  border-top: 1px solid #e6e6e6;
  height: 30px;
}

.id-card-footer span {
  font-weight: bold;
  color: #00509e;
}

.search-container {
  display: flex;
  align-items: center;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 5px;

  .search-container input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
  }
}
.search-container input:focus {
  outline: none;
  border-color: inherit; /* Opcional, si el borde cambia de color */
  box-shadow: none; /* Elimina cualquier sombra */
}

.search-container input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important; /* O el color que prefieras */
}


.search-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.search-container button i {
  color: #00509e;
  font-size: 18px;
}
/* Estilos específicos para la nueva tabla */

/* Estilos de la tabla de edificios */
/* Tabla */
.container {
  display: flex;
  gap: 20px;
  margin: 20px auto;
  max-width: 80%;
}

/* Contenedor de la tabla */
.table-wrapper {
  flex: 2;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Tabla */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Encabezado */
.styled-table thead {
  background-color: #007bff;
  color: #fff;
  text-align: left;
}

.styled-table th {
  padding: 12px;
  border-bottom: 2px solid #0056b3;
  font-weight: bold;
  width: 100px;
}

/* Cuerpo de la tabla */
.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
  background-color: #e0f7fa;
}

.styled-table td {
  padding: 10px;
  color: #333;
}

/* Contenedor del formulario */
.form-wrapper {
  flex: 1;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.form-wrapper h3 {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

/* Formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 80%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Espaciado entre bloques */
.block {
  margin-bottom: 30px;
}
.contenidoedificios {
  display: flex;
  flex-direction: column;
}
.accion {
  display: flex;
  flex-direction: row;
}
