*{
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* Encabezado */
.cabeza {
  background-image: url(../imagenes_logos/fondo\ de\ pagian.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20vh;
  border-radius: 0 0 20% 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 7vw;
  color: azure;
  padding-left: 5%;
}

b {
  color: red;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__lista {
  margin: 0 20px;
  font-size: 4vw;
  border-right: 2px solid #fff;
  padding-right: 20px;
}

.menu__lista:last-child {
  border-right: none;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: red;
}

/* Cuerpo de la página */
.content {
  width: 950px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content__primero {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.mision {
  text-align: center;
  padding-bottom: 40px;
}

.texto {
  width: 500px;
  text-align: justify;
  font-size: 20px;
}

.Mision-img {
  width: 450px;
  padding-left: 50px;
  padding-right: 50px;
}

.content__segundo {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
  padding-bottom: 100px;
}

.vision {
  text-align: center;
  padding-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 0;
}

.content__tabla-titulo, .content__tabla-informacion {
  padding: 20px; /* Aumentado el padding */
  text-align: center; /* Centrado el texto */
}

.titulo {
  background-color: #bebaba;
  color: rgb(255, 0, 0);
  font-size: 30px;
}

/* Pie de página */
.pie {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.pie__titulo {
  font-size: 24px;
  margin-bottom: 10px;
}

.pie a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.pie a:hover {
  text-decoration: underline;
}

.lista {
  margin-top: 15px;
}

.lista a {
  display: inline-block;
  margin: 0 10px;
}

hr {
  border: none;
  border-top: 2px solid #fff;
  margin: 10px 0;
}

.pie__copy {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.pie__copy p {
  margin: 5px 0;
}

.pie__copy a {
  color: #fff;
  text-decoration: none;
}

.pie__copy a:hover {
  text-decoration: underline;
}

.fa-facebook {
  font-size: 24px;
  color: #3b5998;
  margin-top: 10px;
}

.fa-facebook:hover {
  color: #1e2e4f;
}


@media (min-width: 768px) {
  .cabeza {
      height: 200px;
  }

  .title {
      font-size: 40px;
  }

  .menu__lista {
      font-size: 35px;
  }
}
