/* contenido de la pagina  */

.var_sesion {
  margin-left: 30%;
  color: black;
  font-size: 35px;
  width: auto;
}

.cuerpo {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.contador_ingresos {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: cursive;
  padding-bottom: 30px;
}

.contador {
  width: 250px;
  height: 200px;
  background-color: darkgray;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 190px;
  text-align: center;
  margin-left: 40px;
}

.opciones {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 30%;
}

#texto {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 700;
}

.aceptar,
.nuevo_registro,
.paquetes {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  background-color: darkgray;
}

.registros {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.pie {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boton_entrada {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background-color: darkgray;
  border-radius: 5px;
  position: relative;
  margin: 20px;
}

/* formulario  */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(86, 89, 91, 0.4);
}

.modal_v {
  display: none;
  position: fixed;
  padding-top: 60px;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(86, 89, 91, 0.4);
}

.cerrado {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background-color: #4f4f4f;
  border-radius: 20px;
  height: 59px;
  margin-bottom: 30px;
}

.titulo-form {
  color: rgb(252, 249, 249);
  font-weight: 700;
  padding-top: 10px;
  padding-left: 30px;
}

.modal-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 30px;
  background: linear-gradient(135deg, #eaeaea, #606060);
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
}

.modal-contentHistorial {
  width: 700px;
  margin: 0 auto;
  padding: 20px 30px;
  background: linear-gradient(135deg, #eaeaea, #606060);
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
}

.close {
  color: #f3f3f3;
  float: right;
  font-size: 40px;
  position: relative;
  align-items: end;
  padding-left: 50%;
  padding-top: 10px;
  padding-left: 62%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo de los títulos de cada campo */
form h4 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #141414;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Estilo de los campos de entrada */
form input[type="text"] {
  width: 94%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1em;
  color: #333;
  background-color: #ededed;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.Rol,
option {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1em;
  color: #333;
  background-color: #ededed;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Select de las torres */
.select_torre {
  width: auto;
  display: flex;
  justify-content: space-between;
}

/* Select de las torres */

.titulo_torre {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.ap {
  width: auto;
  margin-right: 50px;
}

.select_torre2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter-select {
  width: 45%;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #495057;
}

.filter-select_personas {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #495057;
}

.filter {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #495057;
}

/* Efecto de foco en el campo */
form input[type="text"]:focus {
  border-color: #6a5acd;

  outline: none;
  background-color: #ffffff;
}

/* Estilo para todo el formulario */
form h4,
form input[type="text"] {
  display: block;
  /* background: none ; */
  margin-bottom: 0;
}

.imput_new_registro {
  margin-bottom: 10px !important;
}

.buscar_id {
  display: block;
  background: none !important;
  margin-bottom: 0;
}

/* Espaciado entre campos */
form h4 + input[type="text"] {
  margin-top: 5px;
}

/* Transiciones y estilo adicional */
form input[type="text"]::placeholder {
  color: #a0a3bd;
  font-style: italic;
  opacity: 0.7;
}

.Enviar {
  padding: 5px;
  width: 150px;
  height: 60px;
  font-size: 20px;
  margin-right: 100px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  background-color: #65857a;
  box-shadow: 0px 0px 20px 0px black;
  display: inline-block;
}

.Enviar:hover {
  background-color: red;
  transition: all 1s;
}

.boton_usuario {
  padding: 15px 25px;
  width: 200px;
  height: 60px;
  font-size: 18px;
}

.aceptar,
.nuevo_registro,
.paquetes {
  cursor: pointer;
  width: 220px;
  height: 50px;
  font-size: 20px;
}

#displayForm {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 25px;
  position: relative;
  top: -150px;
  right: 150px;
  max-width: 554px;
  margin: 40px auto;
  font-family: "Arial", sans-serif;
}

#displayForm input {
  width: 300px;
  height: 10px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #0a0a0a;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  color: #555;
}

#displayForm input[readonly] {
  background-color: #e0e0e0;
  color: #333;
}

#displayForm input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

#displayForm p {
  text-align: left;
  width: 200px;
  padding-bottom: 36px;
}

.abajo {
  width: 100%;
  background-color: #494646;
  height: 85px;
  position: absolute;
  bottom: 0;
  z-index: -10;
}

.tabla-flotante {
  display: none;
  /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.tabla-flotante__contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
}

.tabla-flotante__tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla-flotante__tabla th,
.tabla-flotante__tabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-flotante__tabla th {
  background-color: #f4f4f4;
}

.boton-flotante {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-flotante:hover {
  background-color: #0056b3;
}

/* Estilos para ocultar el modal */

/* Contenido del modal */

.modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #eaeaea, #606060);
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botón para cerrar el modal */

.close2 {
  color: #ffffff;
  font-size: 33px;
  cursor: pointer;
  position: relative;
  padding-left: 120px;
  padding-top: 10px;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
}

h4 {
  font-size: 1.2em;
  margin: 10px 0;
}

#Pa_Estado,
#Pa_Firma,
#U_Id {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#Pa_Descripcion {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
  /* Ajusta la altura según lo necesites */
}

#Pa_Fecha {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.link {
  color: black;
  text-decoration: none;
  margin-left: 15px;
}

.boton_usuario a:hover {
  color: white;
}

.ventana-emergente {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.ventana-emergente__caja {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  border: 5px solid #010000;
  width: 100%;
  max-width: 800px;
}

.ventana-emergente__caja--opciones {
  position: absolute;
  top: 10%;
  left: 50%;
  height: 150px;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}

.ventana-emergente__cerrar {
  color: #000000;
  font-size: 33px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left: 5px;
}

.boton {
  margin-right: 87px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #ff4b4b;
}

#cambiar-usuario {
  width: 200px;
  padding: 10px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-weight: 700;
  background-color: #888888b2;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 40%;
}

.pop {
  display: flex;
  flex-direction: row;
}

.boton:hover {
  background-color: red;
  box-shadow: 0px 0px 2px 0px black;
}

.ventana-emergente__seguridad {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.ventana-emergente__formulario {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 300px;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}

.formulario-general {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}

.formulario-general__label {
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}

.formulario-general__input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.formulario-general__boton {
  background-color: #6c6e6f;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.formulario-general__boton:hover {
  background-color: #2980b9;
}

.miModal {
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
}

.miModal--activo {
  display: flex;
}

.miModal__contenido {
  background-color: #fff;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgb(0, 0, 0);
  position: relative;
  max-width: 90%;
}

.miModal__titulo {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 20px;
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.miModal__cerrar {
  position: absolute;
  top: 17px;
  right: 24px;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  transition: color 0.3s;
}

.miModal__cerrar_v {
  display: flex;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.miModal__cerrar:hover {
  color: #333;
}

.miModal__grupo {
  margin-bottom: 20px;
}

.miModal__label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #555;
}

.miModal__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #292727;
  border-radius: 8px;
  background-color: #a0a3bd;
  font-size: 15px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.miModal__input:focus {
  border-color: #007bff;
  outline: none;
}

.miModal__submit {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.miModal__submit:hover {
  background-color: #0056b3;
}
.buscar_guest {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: -60px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Fondo semi-transparente */
}

.modal__contenido {
  background-color: #ccd0cf;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
  /* Ancho del modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal__cerrar {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__cerrar:hover,
.modal__cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#fecha {
  width: 220px;
  height: 13px;
  padding: 10px;
  border: 2px solid #202020;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  position: relative;
  top: 33px;
  transition: all 0.3s ease;
}

#fecha:hover {
  background-color: #e6f7ff;
  border-color: #000000;
}

#fecha:focus {
  outline: none;
  border-color: #0b0c0c;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.select {
  display: flex;
  justify-content: space-evenly;
  width: 660px;
  margin-bottom: 30px;
}
.select2 {
  display: flex;
  gap: 20px;
}
.filter-btn {
  position: relative;
  top: 10px;
}
