* {
    padding: 0px;
    margin: 0px;
    color: #080808;
    font-family: Arial, Helvetica, sans-serif !important;
}


/* Encabezado */

.cabeza {
    background-image: url(../imagenes_logos/fondo\ de\ pagian.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20vh;
    border-radius: 0 0 20% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 7vw;
    color: azure;
    padding-left: 5%;
}

b {
    color: red;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu__lista {
    margin: 0 20px;
    font-size: 4vw;
    border-right: 2px solid #fff;
    padding-right: 20px;
}

.menu__lista:last-child {
    border-right: none;
}

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: red;
}

h2 {
    margin-top: 10px;
}


/* Cuerpo */

.cuerpo {
    width: 90%;
    margin: auto;
    padding: 150px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 7cm;
    padding-bottom: 7cm;
}

.cuerpo__informacion-content-titulo {
    font-size: 40px;
}

samp {
    color: rgb(255, 0, 0);
}

.cuerpo__informacion-content {
    width: 50%;
    padding-right: 40px;
    padding-left: 40px;
}

.cuerpo__informacion-content-titulo-parrafo {
    text-align: justify;
    padding-top: 40px;
}

.cuerpo__informacion-content-fotos {
    margin-top: 150px;
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    /* Añadido para que los hijos con posición absoluta se posicionen dentro de este contenedor */
}

.cuerpo__informacion-content-fotos img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.atras,
.adelante {
    position: absolute;
    width: 30px;
    height: 50px;
}

.atras {
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

.adelante {
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}


/* Formulario */

.inicia_seccion {
    background-image: url(../imagenes_logos/fondo\ de\ pagian.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 20px;
}

form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Formulario {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Formulario__titulo {
    font-size: 5vw;
    color: #fff;
    margin-bottom: 20px;
}

.Formulario__titulo-input,
.Formulario__titulo-input-opcion {
    width: 80%;
    max-width: 300px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.Formulario__boton {
    width: 60%;
    max-width: 150px;
    padding: 10px 0;
    border-radius: 30px;
}

.Formulario__boton-a {
    color: #080808;
    font-size: 20px;
    padding: 15px 25px;
}

.Formulario__boton:hover {
    background-color: red;
}

.Formulario__boton-a:hover {
    color: #fff;
}

.imagen {
    width: 60%;
    display: flex;
    justify-content: center;
}

.imagen__mapa {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 30px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 0;
}

.content__tabla-titulo,
.content__tabla-informacion {
    padding: 8px;
    text-align: left;
    text-align: center;
}

.titulo {
    background-color: #bebaba;
    color: aqua;
    font-size: 30px;
}

.pie {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.pie__titulo {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.pie a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.pie a:hover {
    text-decoration: underline;
}

.lista {
    margin-top: 15px;
}

.lista a {
    display: inline-block;
    margin: 0 10px;
}

hr {
    border: none;
    border-top: 2px solid #fff;
    margin: 10px 0;
}

.pie__copy {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

.pie__copy p {
    margin: 5px 0;
}

.pie__copy a {
    color: #fff;
    text-decoration: none;
}

.pie__copy a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .cabeza {
        height: 200px;
    }
    .title {
        font-size: 40px;
    }
    .menu__lista {
        font-size: 35px;
    }
    .Formulario {
        max-width: 60%;
    }
}