*{
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* Encabezado */
.cabeza {
  background-image: url(../imagenes_logos/fondo\ de\ pagian.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20vh;
  border-radius: 0 0 20% 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 7vw;
  color: azure;
  padding-left: 5%;
}

b {
  color: red;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__lista {
  margin: 0 20px;
  font-size: 4vw;
  border-right: 2px solid #fff;
  padding-right: 20px;
}

.menu__lista:last-child {
  border-right: none;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: red;
}

/* Cuerpo de la página */
.content {
  width: 950px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content__primero {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.mision {
  text-align: center;
  padding-bottom: 40px;
}

.texto {
  width: 500px;
  text-align: justify;
  font-size: 20px;
}

.Mision-img {
  width: 450px;
  padding-left: 50px;
  padding-right: 50px;
}

.content__segundo {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
  padding-bottom: 100px;
}

.vision {
  text-align: center;
  padding-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 0;
}

.content__tabla-titulo, .content__tabla-informacion {
  padding: 20px; /* Aumentado el padding */
  text-align: center; /* Centrado el texto */
}

.titulo {
  background-color: #bebaba;
  color: aqua;
  font-size: 30px;
}

/* Pie de página */
.pie {
  background-color: #454d53;
  padding: 50px 20px;
  color: #fff;
  height: 200px;
  clear: both; /* Asegura que el pie de página esté por debajo del contenido anterior */
}

.pie__titulo {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pie__titulo-img {
  width: 250px;
  border-radius: 20px;
  margin-right: 20px;
}

.pie__titulo-img-tabla {
  margin: 0;
  text-align: left;
  width: 800px;
}

.pie__titulo-img-tabla th,
.pie__titulo-img-tabla td {
  padding: 10px 20px;
  color: #fff;
}

.pie__titulo-img-tabla-titulo {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.pie__titulo-img-tabla td img {
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.pie__titulo-img-tabla td {
  padding: 5px 0;
  font-size: 25px;
}

@media (min-width: 768px) {
  .cabeza {
      height: 200px;
  }

  .title {
      font-size: 40px;
  }

  .menu__lista {
      font-size: 35px;
  }
}
